name:
  message: 'emojidex'
description:
  message: 'Enable emojidex emoji on every page!'

options_header:
  message: 'Settings'
options_auto_replace:
  message: 'Automatically convert emoji codes to emoji.'
options_set_autocomplete:
  message: 'Enable emoji autocomplete in text boxes.'
